{% load static %} {% block extrahead %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
  <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">


  <title>Breakglass</title>
   
</head>

<body style="overflow: hidden;" background="{% static 'images/home2.jpg' %}" >

    <div class="primary-header">
       <!--  <div class="container"> -->
       <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <a class="logo" href="/home/">
                        <!-- <i class="navbar-brand fa fa-power-off logout" aria-hidden="true"></i> -->
                        <img class="navbar-brand logo-display" style="height: 25px;" src="{% static 'images/banklogo.svg' %}" alt="LOGO">
                    </a>
                    </a>
                </div >

                 <ul class="nav navbar-nav">
                 <li><a href="/request">Request</a></li>
                 {% if approverStatus == 'yes' %} 
                    <li><a href="/approve">Approve</a></li>
                  {% endif %}
                  {% if auditorStatus == 'yes' %} 
                    <li><a href="/audit">Audit</a></li>
                  {% endif %}
                
                </ul>

                <ul class="nav navbar-nav navbar-right nav-user" style="">
                     <li><span class="fa fa-user"></span> {{ request.session.current_username }}</li>
                </ul>
            </div>
        </div>
    </div>
   

 <div id="message">
        <div class="container">
        
        <h3 class="project-header">
            Welcome to the Breakglass 
        </h3>
            
        </div>
    </div>
  </div>

    <div id="taskboard">
    </div>


<!-- ################################################################################# -->

    <div id="faded">
        <div id="animated-icon">
            <div id="loader"></div>
        </div>
    </div>
     <footer style="min-height: 20px;" class="navbar navbar-default navbar-fixed-bottom page-footer footer">
        <p class="text-center">Copyrights © 2010 - 2021 All Rights Reserved by Bank of America
    </footer>
</body>

</html>
{% endblock %}
